<nav
  class="navbar navbar-expand-lg fixed-top navbar-transparent"
  color-on-scroll="100"
  id="navbar-top"
>
  <div class="container">
    <div class="navbar-translate">
      <a
        class="navbar-brand"
        [routerLink]="['/home']"
        placement="bottom"
        tooltip=""
      >
        <span>Vision Technologies•</span>
        Design System Angular
      </a>
      <button
        aria-controls="navigation-index"
        aria-label="Toggle navigation"
        class="navbar-toggler navbar-toggler"
        [attr.aria-expanded]="!isCollapsed"
        (click)="isCollapsed = !isCollapsed"
        id="navigation"
        type="button"
      >
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    </div>
    <div
      class="navbar-collapse justify-content-end"
      [collapse]="isCollapsed"
      id="navigation"
    >
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand"><a>Vision Technologies•</a></div>
          <div class="col-6 collapse-close text-right">
            <button
              aria-controls="navigation-index"
              aria-label="Toggle navigation"
              class="navbar-toggler"
              [attr.aria-expanded]="!isCollapsed"
              (click)="isCollapsed = !isCollapsed"
              id="navigation"
              type="button"
            >
              <i class="tim-icons icon-simple-remove"></i>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item p-0">
          <a
            class="nav-link"
            href=""
            placement="bottom"
            target="_blank"
            tooltip="Join our Channel"
          >
            <i class="fab fa-telegram"></i>
            <p class="d-lg-none d-xl-none">Teleram</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a
            class="nav-link"
            href=""
            placement="bottom"
            target="_blank"
            tooltip="Like us on Facebook"
          >
            <i class="fab fa-facebook-square"></i>
            <p class="d-lg-none d-xl-none">Facebook</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a
            class="nav-link"
            href=""
            placement="bottom"
            target="_blank"
            tooltip="Follow us on Instagram"
          >
            <i class="fab fa-instagram"></i>
            <p class="d-lg-none d-xl-none">Instagram</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="wrapper">
  <div class="page-header">
    <img class="path" src="assets/img/blob.png" />

    <img class="path2" src="assets/img/path2.png" />

    <img class="shapes triangle" src="assets/img/triunghiuri.png" />

    <img class="shapes wave" src="assets/img/waves.png" />

    <img class="shapes squares" src="assets/img/patrat.png" />

    <img class="shapes circle" src="assets/img/cercuri.png" />

    <div class="container" style="margin-top: 2cm;">
      <div class="col-md-10 ml-auto col-xl-6 mr-auto">
        <div class="mb-3">
          <h2
            class="text-uppercase font-weight-bold"
            style="text-align: center;"
          >
            About Us
          </h2>
        </div>
        <div class="card">
          <div class="card-header">
            <h4>
              <i class="tim-icons icon-attach-87 text-success"></i>
              Our goal as an organization is to assist businesses excel into a
              new era of digital
              <br />
              marketing. Supporting local businesses in our communities is a
              priority for us and society
              <br />
              as a whole in ensuring a healthy economy for our future.
              Understanding the psychology

              <br />
              of marketing paired with the ability to develop the material
              necessary allows us to provide
              <br />
              the edge you need to boost sales productivity with your presence
              online.

              <br />
              <br />
              <i class="tim-icons icon-attach-87 text-success"></i>
              We are the ultimate package. Consisting of senior web & app
              developers, marketing specialists
              <br />
              marketing designers, & sales strategists, we will be the backbone
              in your online success.

              <br />
              <br />
              <i class="tim-icons icon-attach-87 text-success"></i>
              Digital marketing is mandatory for all businesses to survive & we
              ensure
              <br />
              the required assistance is available for you at reasonable pricing
              that works for you.
              <br />
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
