<nav
  class="navbar navbar-expand-lg fixed-top navbar-transparent"
  color-on-scroll="100"
  id="navbar-top"
>
  <div class="container">
    <div class="navbar-translate">
      <a
        class="navbar-brand"
        [routerLink]="['/home']"
        placement="bottom"
        tooltip=""
      >
        <span>FlexWave Vision•</span>
      </a>
    </div>
  </div>
</nav>

<div class="wrapper">
  <div class="page-header">
    <img class="path" src="assets/img/blob.png" />

    <div class="content brand">
      <h1 class="h1-seo" style="font-weight: 600; text-transform: capitalize;">
        ABOUT
        <span class="text-info">US</span>
      </h1>
    </div>
    <section class="section section-lg">
      <section class="section">
        <div class="container">
          <div class="row row-grid justify-content-between">
            <div class="col-md-6" style="margin-top: 2.5cm;">
              <div class="pl-md-5">
                <h1 style="font-weight: 600;">
                  Our
                  <span class="text-success">Goal</span>
                  <br />
                </h1>
                <p>
                  Our goal as an organization is to assist businesses excel into
                  a new era of digital marketing. Supporting local businesses in
                  our communities is a priority for us and society as a whole in
                  ensuring a healthy economy for our future.
                </p>
                <br />
                <br />
              </div>
            </div>

            <div class="col-lg-4 col-md-5">
              <img
                alt="Circle image"
                class="img-fluid"
                src="assets/img/storephone.png"
              />
            </div>
          </div>
        </div>
      </section>
    </section>
  </div>

  <section class="section section-lg">
    <section class="section">
      <img class="path" src="assets/img/path4.png" />

      <div class="container">
        <div class="row row-grid justify-content-between">
          <!-- <div class="row">
              <div class="col-lg-6 col-sm-12 px-2 py-2">
                <div class="card card-stats">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                          <i class="tim-icons icon-trophy text-warning"></i>
                        </div>
                      </div>
                      <div class="col-7 col-md-8">
                        <div class="numbers">
                          <p class="card-title">3,237</p>
                          <p></p>
                          <p class="card-category">Awards</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-12 px-2 py-2">
                <div class="card card-stats upper bg-default">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                          <i class="tim-icons icon-coins text-white"></i>
                        </div>
                      </div>
                      <div class="col-7 col-md-8">
                        <div class="numbers">
                          <p class="card-title">3,653</p>
                          <p></p>
                          <p class="card-category">Commits</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-sm-12 px-2 py-2">
                <div class="card card-stats">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                          <i class="tim-icons icon-gift-2 text-info"></i>
                        </div>
                      </div>
                      <div class="col-7 col-md-8">
                        <div class="numbers">
                          <p class="card-title">593</p>
                          <p></p>
                          <p class="card-category">Presents</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-12 px-2 py-2">
                <div class="card card-stats">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                          <i
                            class="tim-icons icon-credit-card text-success"
                          ></i>
                        </div>
                      </div>
                      <div class="col-7 col-md-8">
                        <div class="numbers">
                          <p class="card-title">10,783</p>
                          <p></p>
                          <p class="card-category">Forks</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
          <div class="col-lg-4 col-md-5">
            <img
              alt="Circle image"
              class="img-fluid"
              src="assets/img/strategy.png"
            />
          </div>
          <div class="col-md-6" style="margin-top: 2.5cm;">
            <div class="pl-md-5">
              <h1 style="font-weight: 600;">
                <span class="text-warning">Marketing</span>
                Strategy
                <br />
              </h1>
              <p>
                Understanding the psychology of marketing paired with the
                ability to develop the material necessary allows us to provide
                the edge you need to boost sales productivity with your presence
                online.
              </p>
              <br />
              <br />
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>

  <section class="section section-lg">
    <section class="section">
      <div class="container">
        <div class="row row-grid justify-content-between">
          <div class="col-md-6" style="margin-top: 2.5cm;">
            <div class="pl-md-5">
              <h1 style="font-weight: 600;">
                Our
                <span class="text-info">Team</span>

                <br />
              </h1>
              <p>
                We are the ultimate package. Consisting of senior web & app
                developers, marketing specialists, marketing designers, & sales
                strategists, we will be the backbone in your online success.
              </p>
              <br />
              <br />
            </div>
          </div>

          <div class="col-lg-4 col-md-5">
            <img
              alt="Circle image"
              class="img-fluid"
              src="assets/img/team.png"
            />
          </div>
        </div>
      </div>
    </section>
  </section>
</div>
